
<router-outlet></router-outlet>

<h1>{{title}}</h1>
<h2>Learning ngFor</h2>

<ul>
    <li *ngFor = "let contact of contacts; index as i; first as f; last as l ">
        <div *ngIf="f" style="background-color: lightseagreen;"> this is first record </div>
        <div>
            {{i}} {{contact.firstName}} {{contact.lastName}}
        </div>
        <div *ngIf="l" style="background-color: lightyellow;" > this is last record </div>
    </li>
</ul>

<p>New Table with Even and Odd</p>

<ul>
<li *ngFor = "let contact of contacts; even as e; odd as o " >
<div *ngIf="e" style="background-color: #ddd;" >
    {{contact.firstName}} {{contact.lastName}}
 </div>
    <div *ngIf="o" style="background-color: #ffffcc;" >
    {{contact.firstName}} {{contact.lastName}}
 </div>

 </li>
</ul>
